In [77]:
import numpy as np
import scipy as sc
import pandas as pd

from sklearn.preprocessing import MinMaxScaler
import keras as K
import keras.models as M
from keras.layers import *

In [78]:
#load Data

train_df = pd.read_csv("dataset/sales_data_training.csv")
test_df = pd.read_csv("dataset/sales_data_test.csv")
out_df = pd.read_csv("dataset/proposed_new_product.csv").values

train_df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1,0,1,0,1,0,0,132717,59.99
1,4.5,0,0,0,0,1,1,0,83407,49.99
2,3.0,0,0,0,0,1,1,0,62423,49.99
3,4.5,1,0,0,0,0,0,1,69889,39.99
4,4.0,1,0,1,0,1,0,1,161382,59.99

In [79]:
#Scaled Data

scaler = MinMaxScaler(feature_range = (0,1))

scaled_train_df = scaler.fit_transform(train_df)
scaled_test_df = scaler.transform(test_df)

scaled_train_df

array([[0.5       , 1.        , 0.        , ..., 0.        , 0.37471396,
        1.        ],
       [0.83333333, 0.        , 0.        , ..., 0.        , 0.19242528,
        0.5       ],
       [0.33333333, 0.        , 0.        , ..., 0.        , 0.11485185,
        0.5       ],
       ...,
       [0.83333333, 0.        , 1.        , ..., 0.        , 0.61007375,
        1.        ],
       [0.5       , 1.        , 1.        , ..., 1.        , 0.24626902,
        0.        ],
       [0.33333333, 1.        , 0.        , ..., 1.        , 0.21633242,
        0.5       ]])

In [80]:
#scaled data is converted in Dataframe

scaled_train_df = pd.DataFrame(data = scaled_train_df, columns = train_df.columns.values)

scaled_test_df = pd.DataFrame(data = scaled_test_df, columns = test_df.columns.values)

scaled_train_df.head()

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,0.500000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.374714,1.0
1,0.833333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.192425,0.5
2,0.333333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.114852,0.5
3,0.833333,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.142452,0.0
4,0.666667,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.480682,1.0

In [81]:
#Stacking features

X = scaled_train_df.drop('total_earnings', axis = 1).values
Y = scaled_train_df['total_earnings'].values

X_test = scaled_test_df.drop('total_earnings', axis = 1).values
Y_test = scaled_test_df['total_earnings'].values

X

array([[0.5       , 1.        , 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.83333333, 0.        , 0.        , ..., 1.        , 0.        ,
        0.5       ],
       [0.33333333, 0.        , 0.        , ..., 1.        , 0.        ,
        0.5       ],
       ...,
       [0.83333333, 0.        , 1.        , ..., 0.        , 0.        ,
        1.        ],
       [0.5       , 1.        , 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.33333333, 1.        , 0.        , ..., 0.        , 1.        ,
        0.5       ]])

In [90]:
model = M.Sequential()

model.add(Dense(50, input_dim = 9, activation = 'relu', name = "layer_1"))
model.add(Dense(100, activation = 'relu', name = "layer_2"))
model.add(Dense(50, activation = 'relu', name = "layer_3"))
model.add(Dense(1, activation = 'linear', name = "output_layer"))

model.compile(optimizer = 'adam', loss = 'mean_squared_error')

#creating tenserflow loggers
logger = K.callbacks.TensorBoard(log_dir = "logs", write_graph = True, histogram_freq = 0)

In [91]:
model.fit(x = X, y = Y, epochs = 50, verbose = 2, shuffle = True, callbacks = [logger])

Epoch 1/50
 - 0s - loss: 0.0465
Epoch 2/50
 - 0s - loss: 0.0043
Epoch 3/50
 - 0s - loss: 0.0014
Epoch 4/50
 - 0s - loss: 7.2752e-04
Epoch 5/50
 - 0s - loss: 4.7855e-04
Epoch 6/50
 - 0s - loss: 3.4019e-04
Epoch 7/50
 - 0s - loss: 2.5445e-04
Epoch 8/50
 - 0s - loss: 1.9960e-04
Epoch 9/50
 - 0s - loss: 1.6117e-04
Epoch 10/50
 - 0s - loss: 1.3191e-04
Epoch 11/50
 - 0s - loss: 1.2156e-04
Epoch 12/50
 - 0s - loss: 9.9674e-05
Epoch 13/50
 - 0s - loss: 8.4557e-05
Epoch 14/50
 - 0s - loss: 7.2857e-05
Epoch 15/50
 - 0s - loss: 6.5346e-05
Epoch 16/50
 - 0s - loss: 6.2171e-05
Epoch 17/50
 - 0s - loss: 6.3578e-05
Epoch 18/50
 - 0s - loss: 5.0769e-05
Epoch 19/50
 - 0s - loss: 4.6791e-05
Epoch 20/50
 - 0s - loss: 4.6701e-05
Epoch 21/50
 - 0s - loss: 4.8113e-05
Epoch 22/50
 - 0s - loss: 3.8273e-05
Epoch 23/50
 - 0s - loss: 4.1762e-05
Epoch 24/50
 - 0s - loss: 3.6937e-05
Epoch 25/50
 - 0s - loss: 3.2278e-05
Epoch 26/50
 - 0s - loss: 3.9016e-05
Epoch 27/50
 - 0s - loss: 3.1672e-05
Epoch 28/50
 - 0s - loss: 2.7762e-05
Epoch 29/50
 - 0s - loss: 2.7356e-05
Epoch 30/50
 - 0s - loss: 2.3786e-05
Epoch 31/50
 - 0s - loss: 2.5359e-05
Epoch 32/50
 - 0s - loss: 2.1312e-05
Epoch 33/50
 - 0s - loss: 2.6420e-05
Epoch 34/50
 - 0s - loss: 2.5221e-05
Epoch 35/50
 - 0s - loss: 2.4812e-05
Epoch 36/50
 - 0s - loss: 2.6679e-05
Epoch 37/50
 - 0s - loss: 2.5014e-05
Epoch 38/50
 - 0s - loss: 2.0447e-05
Epoch 39/50
 - 0s - loss: 2.0096e-05
Epoch 40/50
 - 0s - loss: 2.2782e-05
Epoch 41/50
 - 0s - loss: 2.3041e-05
Epoch 42/50
 - 0s - loss: 2.2571e-05
Epoch 43/50
 - 0s - loss: 2.0432e-05
Epoch 44/50
 - 0s - loss: 2.3655e-05
Epoch 45/50
 - 0s - loss: 1.9493e-05
Epoch 46/50
 - 0s - loss: 2.4699e-05
Epoch 47/50
 - 0s - loss: 2.1786e-05
Epoch 48/50
 - 0s - loss: 3.3050e-05
Epoch 49/50
 - 0s - loss: 2.2678e-05
Epoch 50/50
 - 0s - loss: 2.4215e-05

In [92]:
model.evaluate(X_test, Y_test, verbose = 1)

400/400 [==============================] - 0s 402us/step

0.0001031897404755

In [74]:
prediction = model.predict(out_df)

In [75]:
prediction = prediction[0][0]

prediction += 1159
prediction /= 0.0036968

print("Earnings will be : ", prediction)

Earnings will be :  313749.4863092164

In [76]:
#save the model

model.save("myFirstModel.h5")